.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 30px;
  @apply bg-slate-400;
}

.banner_form_wrap {
  @apply flex  flex-col gap-4 justify-center items-center 
  absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]
   sm:w-[100%];
}
